*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    background-color: #FAFAFA;
    padding-top: 20px;
    padding-bottom: 20px;

}

.dealsContainer {
    background-color: #FAFAFA;
    height: auto;
    margin-bottom: 50px;
}
.p1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Volkhov', serif;
    color: #484848;
}

.p2 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #8A8A8A;
}

.dealImgs {
    display: flex;
    margin-top: 130px;
    margin-bottom: 150px;
    justify-content: center;
}

.dealImgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    width: 216px;
    transition: transform 0.5s;    
}

.dealImgs img:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.dealImgs img:active {
    transform: scale(1.1);
    transition: transform 0.5s;
}

.dealImgs img:focus {
    transform: scale(1.1);
    transition: transform 0.5s;
}



.dealImgs img:after {
    transform: scale(1.1);
    transition: transform 0.5s;
}


.img1 {
  padding-top: 40px;
    object-fit: cover;
}

.img3 {
    padding-top: 40px;
    object-fit: cover;
}

.img5 {
    padding-top: 40px;
    object-fit: cover;
}

.img7 {
    padding-top: 10px;
    object-fit: cover;
}