* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img_container {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.left {
  padding-left: 140px;
}
.flcontainer {
  padding-right: 140px;
}

.subsribe {
    text-align: center;
    color: #484848;
    font-family: 'Volkhov',sans-serif;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 100px;
}
.paragraph {
    text-align: center;
    color: #484848;
    margin-top: 40px;
    font-family: 'poppins',sans-serif;
    font-weight: 100;
}
.email {
    margin-top: 70px;
    color: #484848;
    font-family: 'poppins',sans-serif;
    font-weight: 100;
}

.button {
    text-align: center;
    margin-top: 50px;
    height: 100px;
    background: linear-gradient(to bottom, #FAFAFA, #CCCCCC);
}
